header{
    padding: 20px 2%;
}

.navbar {
    background-color: rgba(50, 168, 82, 0.19);
    position: relative;
    width: 43%;
    align-self: center;
    left: 25%;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    padding: 20px 2%;
}

.nav-items{
    position: relative;
    align-items: right;
    justify-content: space-between;
    left: 16%;
    margin-top: 5px;
    box-shadow: none;
    background: transparent;
    background-color: transparent;
}

.nav-items .active{
    border-bottom: 2px solid;
}

.logo { 
    box-shadow: none;
    background: transparent;
    background-color: transparent;
}

.nav-items a{
    margin-right: 16px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 17px;
    transition: filter .5s ease;
}

.logo a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 25px;
}

.logo a i:hover{
    filter: drop-shadow(0px 0px 12px grey);
}

.nav-items a:hover {
    filter: drop-shadow(0px 0px 22px grey);
}